body{
font-family: Arial;
background-color:#f2f2f2;
text-align:center;
}

h1{
color:darkblue;
}

h2{
color:green;
}

h3{
color:purple;
}

a{
color:red;
text-decoration:none;
font-weight:bold;
}

a:hover{
color:blue;
}

img{
margin:10px;
border:3px solid black;
border-radius:10px;
}

table{
width:60%;
margin:auto;
border-collapse:collapse;
background:white;
}

th,td{
border:1px solid black;
padding:10px;
}

th{
background:orange;
color:white;
}

.vertical{
background:orange;
color:white;
font-weight:bold;
}